
body {
    margin: 0;
    padding: 0;
}

#rollingBar {
    width: 930px;
    height: 49px;
    top: 127px;
    left: 175px;
    background-color: #f0f0f0;
    position: absolute;
}

#newsSection {
    width: 930px;
    height: 24px;
    background-color: beige;
    top: 208px;
    gap: 0px; 
    left: 175px;
    position: absolute;
}

#gridView {
    width: 930px;
    height: 388px;
    top: 256px;
    left: 175px;
    border: 1px solid #ccc;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
